
.newone{
    height: 400px;
    width: 100%;
    position: relative;
    
}
.btn-4{
    top: 200px;
 }
 .btn-7{
    top: 300px;
 }
 .btn-0{
    top: 100px;
 }

//  appointment-1
.appoint{
               
    position: relative;
    width: 1152px;
    height: 861px;
    
    background: #FFFFFF;
                 h1{
                    position: absolute;
width: 260px;
height: 29px;
left: 21px;
top: 15px;

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;

color: #202020;
                 }
             img{
                position: absolute;
                width: 160px;
                height: 160px;
                left: 26px;
                top: 76px;
                border-radius: 100%;
               
                }}
            
        
   
    .card-text10 {
        background: white;
     
        border-radius: 0 1rem 1rem 0;
        height: max-content;
        position: absolute;
        width: 490px;
        height: 74px;
        left: 323px;
        text-align: left;
       top: -20px;
        
        /* Small Text */
        
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 28px;
        /* or 200% */
        
        letter-spacing: 0.2px;
        
        /* Black Text */
        
        color: #202020;
      h4{
         position: absolute;
width: 260px;
height: 29px;
left: 1px;
top: 90px;

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;

color: #202020;
  
      }
    span{
        font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height:270px;
       letter-spacing: 0.2px;
    
    color: rgba(32, 32, 32, 0.5);
    
   
    }
    button{
        display: flex;


align-items: center;
padding: 14px 24px;
border: none;
position: absolute;
width: 130px;
height: 48px;
left: 1px;
top: 287px;
color: white;
background: #00B4D8;
box-shadow: 3px 5px 25px rgba(0, 180, 216, 0.1), 1px 3px 15px rgba(0, 0, 0, 0.25);
border-radius: 54px;
    }
    }
   .app-tab{
    position: absolute;
    width: 347px;
    height: 18px;
    left: 1px;
    top: 214px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 112% */
    
    display: flex;
    align-items: center;
    
    color: #202020;
    th{
        font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    
    letter-spacing: 0.05em;
    text-transform: capitalize;
    
    /* Black Text */
    
    color: #202020;
    }
    td{
        font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    
    letter-spacing: 0.05em;
    text-transform: capitalize;
    
    color: rgba(32, 32, 32, 0.4);
    }
    }

 
    .box999{
        position: absolute;
        width: 528px;
        height: 497px;
        left: 39px;
        top: 348px;
        
        background: rgba(0, 180, 216, 0.1);
        border-radius: 25px;
        h5{
            position: absolute;
            width: 243px;
            height: 18px;
            left: 15px;
            top: 24px;
            
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 18px;
            /* identical to box height, or 90% */
            
            display: flex;
            align-items: center;
            
            color: #202020;
        }
        h6{
            position: absolute;
width: 207px;
height: 18px;
left: 209px;
top:227.5px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 18px;
/* identical to box height, or 112% */

display: flex;
align-items: center;

color: #202020;
        }&:hover {
            background-color: rgba(10, 74, 88, 0.1);;
        }
    }
    .plus9{
        position: absolute;
width: 21px;
height: 42px;
left: 1182.3px;
top: 33.05px;
font-size: 35px;
top: 1px;
transform: rotate(-45deg);

    
    }
    .box888{
        position: absolute;
width: 528px;
height: 497px;
left: 691px;
top: 348px;

background: rgba(0, 180, 216, 0.1);
border-radius: 25px;
 h5{
            position: absolute;
            width: 333px;
            height: 18px;
            left: 15px;
            top: 24px;
            
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 18px;
            /* identical to box height, or 90% */
            
            display: flex;
            align-items: center;
            
            color: #202020;
        }
        h6{
            position: absolute;
width: 307px;
height: 18px;
left: 159px;
top:227.5px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 18px;
/* identical to box height, or 112% */

display: flex;
align-items: center;

color: #202020;
       }  &:hover {
        background-color: rgba(10, 74, 88, 0.1);;
    }}

    // appointment-2

    .appoint-2{
        position: relative;
width: 1152px;
height: 572px;
background: #FFFFFF;
h1{
    position: absolute;
width: 381px;
height: 29px;
left: 1px;
top: 31.77px;

font-family: Montserrat;

font-weight: 600;
font-size: 24px;
line-height: 29px;
text-align: center;
letter-spacing: 0.05em;
text-transform: capitalize;

color: #202020;}

   
    a{
        position: absolute;
width: 21px;
height: 42px;
left: 1182.3px;
top: 33.05px;
font-size: 35px;
top: 1px;
transform: rotate(-45deg);

        }
   }
   .new-box{
    
    left: 34px;
    top: 201.55px;
    width: 300px;
     h1{
        position: absolute;
width: 137px;
height: 20px;
left: 34px;
top: 231.55px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */

letter-spacing: 0.05em;
text-transform: capitalize;

color: #202020; 
     }
   img{
    position: absolute;
    width: 194px;
    height: 194px;
    left: 24px;
    top: 279px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    margin: auto;
     overflow: hidden;
    }
}

.card-text09{
    position: absolute;
width: 313px;
height: 128px;
left: 237px;
top: 270px;

h6{
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */


letter-spacing: 0.2px;

color: rgba(32, 32, 32, 0.5);
}th{
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* identical to box height */

letter-spacing: 0.05em;
text-transform: capitalize;

/* Black Text */

color: #202020;
}
td{
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* identical to box height */

letter-spacing: 0.05em;
text-transform: capitalize;

color: rgba(32, 32, 32, 0.4);
}
}
.table-19{
    position: absolute;
    left: 50px;
    top: 100px;
th{
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* identical to box height */

letter-spacing: 0.05em;
text-transform: capitalize;

/* Black Text */

color: #202020;
}
td{
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* identical to box height */

letter-spacing: 0.05em;
text-transform: capitalize;

color: rgba(32, 32, 32, 0.4);
}}
.table-20{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 7px;

position: absolute;
width: 487px;

left: 385px;
top: 85.55px;
th{
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* identical to box height */

letter-spacing: 0.05em;
text-transform: capitalize;

/* Black Text */

color: #202020;
}
td{
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* identical to box height */

letter-spacing: 0.05em;
text-transform: capitalize;

color: rgba(32, 32, 32, 0.4);
}}
.table-21{
 
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 7px;
position: absolute;
width: 487px;
left: 765px;
top: 85.55px;
th{
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* identical to box height */

letter-spacing: 0.05em;
text-transform: capitalize;

/* Black Text */

color: #202020;
}
td{
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* identical to box height */

letter-spacing: 0.05em;
text-transform: capitalize;

color: rgba(32, 32, 32, 0.4);
}}
.card-text010{display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 7px;
    position: absolute;
    width: 487px;
    left: 455px;
    top: 254.55px;
    th{
        font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
      
    letter-spacing: 0.05em;
    text-transform: capitalize;
   
    color: #202020;
    }
    td{
        font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
 
    letter-spacing: 0.05em;
    text-transform: capitalize;
    
    color: rgba(32, 32, 32, 0.4);
    }}
    .table-212{display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 7px;
        position: absolute;
        width: 487px;
        left: 795px;
        top: 254.55px;
        th{
            font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
          
        letter-spacing: 0.05em;
        text-transform: capitalize;
       
        color: #202020;
        }
        td{
            font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
     
        letter-spacing: 0.05em;
        text-transform: capitalize;
        
        color: rgba(32, 32, 32, 0.4);
        }
        svg {
            color: goldenrod;
        }}

// Appointment-3

.test-detail{
    a{
        position: absolute;
width: 21px;
height: 42px;
left: 1182.3px;
top: 40.05px;
font-size: 35px;

transform: rotate(-45deg);
    }
  
    width: 1105px;
    height: 133px;
    
    background: #FFFFFF;
    h1{
        position: absolute;
width: 159px;
height: 44px;
left: 92px;
top: 54px;

/* Bold Heading 36px */

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 44px;
/* identical to box height */


/* Black Text */

color: #202020;

}}
.test-para{
   padding-left: 70px;
   
    h5{
   margin-top: 20px;
left: 98px;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;
text-align: center;
text-transform: capitalize;

/* Black Text */

color: #202020;
       
   }
   span{
      
    left: 98px;
    
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    
    
    color: #EE6C4D;
   }p{
       color: #EE6C4D;
       width: 500px;
      
       font-weight: 600;
       font-size: 18px;
       line-height: 24px;
   }
}
