.review-section {
  text-align: start;
  .review-text {
    font-weight: 600;
    font-size: 20px;
  }
  .review-cart-wrapper {
    .review-cart {
      display: flex;
      width: 500px;
      padding: 20px;
      align-items: center;
      border-radius: 20px;
      margin-bottom: 20px;
      box-shadow: 1px 1px 10px 3px lightgrey;
      .review-cart-img {
        width: 500px;
        img {
          border-radius: 50%;
          margin: auto;
          display: block;
        }
      }
      .review-cart-details {
        .review-cart-details-name {
          display: flex;
          justify-content: space-between;
          align-items: center;
          P {
            font-weight: 600;
            margin: 0;
          }
        }
      }
    }
  }
}
