// colors

$doc-color: #00b4d8;
$lab-color: #ee6c4d;

//text color

$text-color: white;
$label: #767676;

// fonts

$font-family: sans-serif;

// backgroud colors

$doc-background-color: #00b4d8;
$lab-background-color: #ee6c4d;
